.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-title {
            h1 {
                font-size: 20px;
                font-weight: 700;
                line-height: 23.44px;
            }
        }
        .header-filter-count {
            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.06px;
            }
        }
    }
}