:root {
    --green-color: #55BC04;
    --white-color: #fff;
    --gray-color: #C2C2C2;
    --black-color: #6F6F6F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    min-height: 70px;
    background-color: var(--green-color);
    color: var(--white-color);
    @media(max-width: 960px) {
        padding: 0px 20px;
    }
}

main {
    background-color: var(--gray-color);
    min-height: 90.2vh;
    @media(max-width: 960px) {
        padding: 0px 20px;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}